
body {
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
}

.col-md-4 {
	height: 225px; 
}

.col-md-4:hover {
	background-color: #060649; 
	color: white; 
}

.navbar-header img {
	height: 65px;
	width:350px; 
	text-align: right; 
}

.jumbotron {
	background-color: green; 
	color: white; 
}

.navbar navbar-inverse navbar-fixed-top {
	margin-top:50px; 
}

img {
	height: 25px;
	width: 25px; 
}





